@import url(https://fonts.googleapis.com/css?family=Nixie+One:regular);

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Mont;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Mont;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-right {
  /* padding-left: calc((100% - 1630px) / 2 + 15px); */
}

.header-menu {
  padding: 43px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.header-logo {
  max-width: 230px;
}


.nav__list {
  display: flex;
  column-gap: 15px;
}

.nav__list-link {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  position: relative;
}

.nav__list-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s ease-in;
}

.nav__list-link:hover:after {
  width: 90%;
}

.header-content__title {
  font-family: 'Mont';
  font-size: 60px;
  font-weight: 900;
  line-height: 1.28;
  color: #fff;
  text-transform: uppercase;
}

.header-title {
  max-width: 992px;
  margin-bottom: 34px;
}

.button-blue {
  padding: 25px 60px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3;
  color: #fff;
  background-color: #5CA7FF;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-blue:hover {
  background-color: #3d85d6;
}

.button-blue:active {
  position: relative;
  top: 1px;
}

.header-slider {
  position: absolute;
  display: flex;
  column-gap: 15px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 57px;
}

.slid {
  display: inline-block;
  background-image: url('../img/slider.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 4px;
  cursor: pointer;
}

.slid--active {
  display: inline-block;
  background-image: url('../img/slider-active.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 4px;
  cursor: pointer;
}

.who {
  padding: 100px 0 100px;
  background: linear-gradient(to right, #E7E7E7 50%, #E7E7E7 50%, #FFFFFF 50%, #FFFFFF 50%);
}

.who-row {
  display: flex;
  align-items: center;
}

.who-row-img,
.who-row-content {
  width: 50%;
}

.who-row-content {
  padding: 10px;
}

.who-roe-img__text {
  display: block;
  max-width: 500px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  font-family: 'Nixie One', sans-serif;
  color: #000000;
  position: relative;
  z-index: 2;
}

.who-roe-img__text::after {
  content: '';
  position: absolute;
  top: -100px;
  left: -70px;
  background-image: url('../img/round.svg');
  background-size: cover;
  width: 387px;
  height: 385px;
  z-index: -1;
}

.who-row-content--title {
  margin-bottom: 150px;
}

.title-h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.title-h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -60px;
  background-image: url('../img/group-line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 79px;
  height: 24px;
}

.who-row-content__text {
  max-width: 790px;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 45px;
}

.why-row-content,
.why-row-img {
  width: 50%;
}

.why-row {
  display: flex;
}

.why-row-content {
  padding-left: calc((100% - 1630px) / 2 + 15px);
}


.why-row-content--title {
  padding-top: 109px;
}

.why-wrapper-text {
  padding-top: 150px;
  padding-right: 60px;
}

.why-row-content__text {
  max-width: 790px;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 45px;
}

.solution {
  padding: 109px 0;
  position: relative;
}

.solution::after {
  content: '';
  position: absolute;
  background-image: url('../img/bg-solution.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.position-title-center {
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
}

.title-h2-center {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.title-h2-center::after {
  content: '';
  position: absolute;
  background-image: url('../img/group-line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  width: 79px;
  height: 24px;
}

.solution-wrapper {
  display: flex;
  column-gap: 100px
}

.solution-wrapper__item {
  width: calc(100% / 3);
  padding: 63px 52px 45px;
  text-align: center;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0);
  background-color: #fff;
  transition: box-shadow 0.2s ease-in;
}

.solution-wrapper__item:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.solution-wrapper__item img {
  margin-bottom: 84px;
  width: 110px;
  height: 110px;
}

.solution-h3 {
  margin-bottom: 84px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;
}

.solution-text {
  font-size: 22px;
  margin-bottom: 44px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

.solution-link {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
  color: #5CA7FF;
}

.solution-link:hover {
  text-decoration: underline;
}

.benefist-row-content--title {
  margin: 200px 0 165px; 
}

.benefist-list {
  display: flex;
  margin-bottom: 65px;
}

.benefist-list__item {
  width: calc(100% / 6);
  padding: 64px 100px 65px 30px;
  border-top: 1px solid #000000;
}

.benefist-list__item:not(:last-child) {
  border-right: 1px solid #000000;
}

.benefist-list__img {
  margin-bottom: 40px;
}

.benefist-list__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
}

.benefist-list__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

.benefist-text-wrapper {
  padding-left: 40px;
  max-width: 1250px;
}

.benefist-text {
  margin-bottom: 65px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

.benefist-link {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
}

.benefist-link:hover {
  text-decoration: underline;
}

.team {
  padding-top: 109px;
  padding-bottom: 60px;
}

.team-row {
  display: flex;
  column-gap: 80px;
}

.team-row-content {
  max-width: 460px;
}

.team-title {
  margin-bottom: 100px;
}

.team-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.team-gallery-row {
  display: flex;
  column-gap: 45px;
  align-items: center;
}

.team-gallery-item {
  position: relative;
}


.team-gallery-item {
  position: relative;
}

.img-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
}

.img-content-title {
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

.img-content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}

.team-gallery-column {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.container-full {
}
.case-row {
  display: flex;
  column-gap: 20px;
}
.case-row-item {
  width: calc(100% / 3);
}

.case-title {
  padding-top: 110px;
  padding-right: 14px;
  background-color: #ECECEC;
}

.title-h2-right {
  text-align: right;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.title-h2-right::after {
  content: '';
  position: absolute;
  background-image: url('../img/group-line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  right: 200px;
  transform: translateX(-50%);
  bottom: -50px;
  width: 79px;
  height: 24px;
}

.sertifications {
  padding: 109px 0 71px;
}

.sertifications-title-center {
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
}

.sertifications-row {
  display: flex;
  justify-content: space-between;
}

.insights {
  padding-top: 109px;
  padding-bottom: 98px;
  background-color: #ECECEC;
}

.insights-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.insights-list__item {
  width: calc(100 / 3);
  position: relative;
}

.insights-list__item::after {

}


.insights-list__item:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 109px;
  background-image: url('../img/footer-bg.jpg');
  width: 100%;
  color: #fff;
}


.footer-row {
  display: flex;
  padding-bottom: 100px;
}

.footer-logo {
  margin-bottom: 85px;
}

.footer-content,
.footer-form {
  width: 50%;
}

.footer-content-text {
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer-text {
  margin-bottom: 45px;
}

.footer-content-text {
  max-width: 600px;
}
.footer-contact-h3 {
  margin-top: 90px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  color: #B589E0;
  text-transform: uppercase;
}

.footer-contact-time {
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

.phone, 
.mail {
  padding-left: 100px;
  margin-bottom: 40px;
  display: block;
  font-size: 32px;
  line-height: 1.3;
  color:#FFFFFF;
  position: relative;

}

.phone::after, 
.mail::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;

}

.phone::after {
  background-image: url('../img/phone.svg');
  width: 27px;
  height: 36px;
}
.mail::after {
  background-image: url('../img/mail.svg');
  width: 45px;
  height: 36px;
}




.phone {
  margin-bottom: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

.mail {
  font-weight: 500;
  text-transform: lowercase;
}

.phone:hover,
.mail:hover {
  text-decoration: underline;
}


.footer-title {
  margin-bottom: 100px;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
  color: #FFDD65;
  position: relative;
}

.footer-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -60px;
  background-image: url('../img/group-line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 79px;
  height: 24px;

}


/* ==== */

.footer-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px ;
}

.form-input,
.form-textarea {
  width: 560px;
  padding: 30px 23px;
}
.form-textarea::placeholder,
.form-input::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25;
  color:#000000;
  font-family: 'Mont';
}

.button-footer {
  padding: 27px 112px;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.3;
  color: #fff;
  background-color: #5CA7FF;
  cursor: pointer;
  text-transform: uppercase;
}

.button-footer:hover {
  background-color: #3d85d6;
}

.button-footer:active {
  position: relative;
  top: 1px;
}

/* === */

.footer-down {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  font-size: 20PX;
  font-weight: 500;
  line-height: 1.3;
  color: #C4C4C4;
  text-transform: uppercase;
}

.footer-soc {
  display: flex;
  column-gap: 14px;
}

.footer-soc-link {
  display: inline-block;
}
